<main>
  <div class="main-contents">
  <p class="title-contents mt-4 mb-3"><%= t(".title") %></p>
    <div class="select-text">
      <div class="login-box wh">
        <div class="card">
          <div class="card-body login-card-body">
            <%= form_with model: @user, url: profile_path, local: true do |f| %>
              <div class="my-2">
                <i class="fas fa-user"></i>
                <%= f.label :user, User.human_attribute_name(:name) %>
              </div>
              <div class="input-group mb-3">
                <%= f.text_field :name, class: "form-control", placeholder: :name %>
              </div>

              <div class="my-2">
                <i class="fas fa-envelope"></i>
                <%= f.label :email, User.human_attribute_name(:email) %>
              </div>
              <div class="input-group mb-3">
                <%= f.text_field :email, class: "form-control", placeholder: :email %>
              </div>

              <div class="my-2">
                <i class="fas fa-lock"></i>
                <%= f.label :password, User.human_attribute_name(:password) %>
              </div>
              <div class="input-group mb-3">
                <%= f.password_field :password, class: "form-control", placeholder: :password %>
              </div>

              <div class="my-2">
                <i class="fas fa-lock"></i>
                <%= f.label :password, User.human_attribute_name(:password_confirmation) %>
              </div>
              <div class="input-group mb-3">
                <%= f.password_field :password_confirmation, class: "form-control", placeholder: :password_confirmation %>
              </div>

              <div class="row m-0 mt-4 mb-2">
                <%= f.submit (t ".update"), class: "button-43 w-100" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="select-text mt-3">
            <%= link_to (t "defaults.back"), profile_path, class:"button-43" %>
          </div>
      </div>
    </div>
  </div>
</main>
