<main>
  <div class = 'top-contents'>
    <p class='title-contents mb-3'>Profile</p>
    <table class='mb-3'>
      <tr>
        <th class='width30'>Name</th>
        <th class='width10'>Level</th>
        <th class='width30'></th>
      </tr>
      <tr class='enemy-table'>
        <td><%= current_user.name %></td>
        <td><%= "★×#{current_user.offense_win_count}" %></td>
        <td><%= link_to 'Edit', edit_profile_path, class:'button-43' %></td>
      </tr>
    </table>
    <% if @glaring_face_photos.present? %>
      <table>
        <tr>
          <th class='width30'>Selected</th>
          <th class='width10'>Level</th>
          <th class='width30'></th>
        </tr>
        <% @glaring_face_photos.each do |gfp| %>
          <tr class='enemy-table'>
            <td><img src="data:image/jpeg;base64,<%="#{gfp.image}"%>" width="100" height="100" /></td>
            <td><%= "★×#{gfp.defense_win_count}" %></td>
            <td><%= link_to 'Change', glaring_face_photos_path, class: 'button-43' %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class='select-text mt-3'>
        <%= link_to 'Set User Gantobashi', glaring_face_photos_path, class: 'button-43' %>
      </div>
    <% end %>
  </div>
</main>
