<main>
  <div class='top-contents'>
    <%= form_with url: login_path, local: true do |f| %>
      <%= f.label :email, 'メールアドレス' %>
      <br>
      <%= f.text_field :email  %>
      <br>
      <%= f.label :password, 'パスワード' %>
      <br>
      <%= f.password_field :password  %>
      <br>
      <%= f.submit "ログイン" %>
    <% end %>
    <%= link_to 'ユーザー登録', new_user_path %>
  </div>
</main>
