<main>
  <div class = 'top-contents'>
    <% if @glaring_face_photos.present? %>
      <%= link_to 'New', new_glaring_face_photo_path %>
      <br>
      <% @glaring_face_photos.each do |gfp| %>
        <img src="data:image/jpeg;base64,<%="#{gfp.image}"%>" width="100" height="100" />
        <%= gfp.face_score %>
        <%= link_to 'Delete', glaring_face_photo_path(gfp), method: :delete %>
        <br>
      <% end %>
    <% else %>
      <%= link_to 'New', new_glaring_face_photo_path %>
    <% end %>
  </div>
</main>
