<main>
  <div class = "main-contents">
    <p class="title-contents mb-2 mt-5"><%= t(".title") %></p>
    <% if @glaring_face_photos.present? %>
      <!-- 登録写真一覧 -->
      <table class="text-center mt-4">
        <tr>
          <th class="width30">Image</th>
          <th class="width10">Level</th>
          <th class="width30"></th>
          <th class="width30"></th>
        </tr>
        <% @glaring_face_photos.each do |gfp| %>
          <tr class="enemy-table">
            <td><img src="data:image/jpeg;base64,<%="#{gfp.image}"%>" width="80" height="80" /></td>
            <td><%= "★×#{gfp.defense_win_count}" %></td>
            <td>
              <%= form_with model: gfp, local: true do |f| %>
                <%= f.submit (t ".main"), class:"button-44" %>
              <% end %>
            </td>
            <td>
              <%= link_to (t "defaults.delete"), glaring_face_photo_path(gfp), method: :delete, class:"button-43", data: {confirm: "削除しますか？"} %>
            </td>
          </tr>
        <% end %>
        <tr class="table-button">
          <td>
            <!-- 登録写真は3枚まで -->
            <% if current_user.glaring_face_photos.count < 3 %>
              <p><%= link_to (t ".add"), new_glaring_face_photo_path, class:"button-43" %></p>
            <% end %>
          </td>
          <td></td>
          <td>
            <p><%= link_to (t ".add_hide"), glaring_face_photos_hide_path, class:"button-43" %></p>
          </td>
          <td>
            <p><%= link_to (t "defaults.back"), profile_path, class:"button-43" %></p>
          </td>
        </tr>
      </table>

    <% else %>
      <div class="info-text mt-3 card">
        <p>
          <br>①まずはMyメンチ写真を登録しましょう！
          <br>　※登録できるメンチは３つまでです。
          <br>
          <br>②登録したメンチから１枚だけ公開設定できます。
          <br>
          <br>③公開されたメンチは他ユーザーからの決闘を受け付けます。
          <br>
          <br>④返り討ちにした場合はメンチのLevelが上昇していきます。
        </p>
      </div>
      <div class="select-text mt-4">
        <p><%= link_to (t ".add"), new_glaring_face_photo_path, class:"button-43 mx-4" %></p>
        <p><%= link_to (t "defaults.back"), profile_path, class:"button-43 mx-4" %></p>
      </div>
    <% end %>
  </div>
</main>
