<main>
  <div class = 'top-contents'>
    <%= form_with model: @user, local: true do |f| %>
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
      <br>
      <%= f.label :email %>
      <br>
      <%= f.text_field :email  %>
      <br>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password  %>
      <br>
      <%= f.label :password_confirmation %>
      <br>
      <%= f.password_field :password_confirmation  %>
      <br>
      <%= f.submit (t 'defaults.register') %>
    <% end %>
    <%= link_to (t '.to_login_page'), login_path %>
  </div>
</main>
