<main>
  <div class = 'top-contents' >
    <table class='mt-5'>
      <tr>
        <th>V S</th>
      </tr>
      <tr class='enemy-table'>
        <td class='size40'><%= @user.name %></td>
      </tr>
    </table>
    <table class='mb-3'>
      <tr>
        <th class='width30'>Image</th>
        <th class='width10'>Level</th>
        <th class='width30'></th>
      </tr>
      <tr class='enemy-table'>
        <td><img src="data:image/jpeg;base64,<%="#{@photo.image}"%>" width="100" height="100" /></td>
        <td><%= "★×#{@photo.defense_win_count}"  %></td>
        <td><%= link_to 'Battle', edit_mode_battle_path(@user), class:'button-43' %></td>
      </tr>
    </table>
    <div class='select-text mt-3'>
      <%= link_to 'Back', mode_battle_index_path, class:'button-43' %>
    </div>
  </div>
</main>
