<main>
  <div class = "main-contents" >
    <table class="text-center mt-5">
      <tr>
        <th>V S</th>
      </tr>
      <tr class="enemy-table">
        <td class="size30 td-pe-none"><%= @user.name %></td>
      </tr>
    </table>
    <table class="text-center mb-3">
      <tr>
        <th class="width30"><%= t ".image" %></th>
        <th class="width10"><%= t ".level" %></th>
        <th class="width30"></th>
      </tr>
      <tr class="enemy-table">
        <td><img src="data:image/jpeg;base64,<%="#{@gfp.image}"%>" width="100" height="100" /></td>
        <td><%= "★×#{@gfp.defense_win_count}" %></td>
        <% if @gfp.beated_by?(current_user) %>
          <td>Win</td>
        <% else %>
          <td><%= link_to (t ".battle"), edit_mode_battle_path(@user), class:"button-43" %></td>
        <% end %>
      </tr>
    </table>
    <div class="select-text my-3">
      <%= link_to (t "defaults.back"), mode_battle_index_path, class:"button-43" %>
    </div>

    <% if @defense_battles.present? %>
      <p class="select-text mt-5">返り討ち</p>
      <table class="text-center">
        <tr>
          <th class="width30"></th>
          <th class="width30">Challenger</th>
        </tr>
        <% @defense_battles.each do |battle_history| %>
          <tr>
            <td class="align-middle"><%= l battle_history.created_at, format: :long %></td>
            <td class="align-middle"><%= User.find_by(id: battle_history.user_id).name %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

  </div>
</main>
