<%= render 'layouts/header' %>

<main>
  <div class="top-contents">
    <div class="top-text">
      <p>※このサービスはWEBカメラを使用します。</p>
    </div>
    <div class="btn-2">
      <%= link_to "ガン飛ばし診断", '/create', class:"button-40 link" %>
    </div>
    <div class="btn-2">
      <%= link_to "　　工事中　　", '#', class:"button-40 link" %>
    </div>
    <div class="btn-2">
      <%= link_to "　　工事中　　", '#', class:"button-40 link" %>
    </div>
  </div>
</main>

<%= render 'layouts/footer' %>
