<%= render 'layouts/header' %>

<main>
  <div class="top-contents">
    <%= image_tag 'logo.png', class:'logo' %>
    <div class="btn-2">
      <%= link_to "遊び方", '/about', class:"button-40" %>
    </div>
    <div class="top-text">
      <p>※このサービスはWEBカメラを使用します。</p>
    </div>
    <div class="btn-2">
      <%= link_to "さっそくガン飛ばす", '/create', class:"button-40" %>
    </div>
    <div class="btn-2">
      <%= link_to "工事中", '#', class:"button-40" %>
      <%= link_to "工事中", '#', class:"button-40" %>
    </div>
  </div>
</main>

<%= render 'layouts/footer' %>
