<%= render 'layouts/header' %>

<main>
  <div class="top-contents mt-5">
    <%= image_tag 'logo.png', class:'logo' %>
    <div class="btn-2 mt-4">
      <%= link_to "さっそくガン飛ばす", '/select', class:"button-40 link" %>
    </div>
    <div class="btn-2 mt-2">
      <%= link_to "　はじめての方へ　", '/about', class:"button-40 link" %>
    </div>
    <div class="top-text mt-4">
      <p>※このサービスはWEBカメラを使用します。</p>
    </div>
  </div>
</main>

<%= render 'layouts/footer' %>

<style>
  .header-logo {
    display: none;
  }
</style>
