<tr>
  <td class='align-middle'><%= battle_history.user_id %></td>
  <td class='align-middle'>V S</td>
  <td class='align-middle'><%= battle_history.user_id %></td>
  <td class='align-middle'><%= battle_history.user_id %></td>
  <td class='align-middle'><%= battle_history.user_id %></td>
  <td class='align-middle'><%= battle_history.user_id %></td>
</tr>
