<div class="create-contents">
  <div class="result-size">
    <div class="photo-bd"></div>

    <img src="data:image/jpeg;base64,<%="#{@photo}"%>" width="100" height="100"/>

    <div class="result">
      <div class="result-body">
        <p class="mx-3"><%= @body %></p>
      </div>
    </div>
  </div>

  <div class="result">
    <div class="star">
      <p><%= @star %></p>
    </div>

    <div class="rank">
      <p>“<%= @rank %>”</p>
    </div>

    <p class="mt-1"><%= @point1 %></p>
    <p><%= @point2 %></p>
    <% if @body != "解析失敗m(_ _)m" %>
      <a class='button-43' 
         href="https://twitter.com/intent/tweet?text=私のガン飛ばしは“<%="#{@rank}"%>”%0d<%="#{@body}"%>%0d%0dhttps://www.gantobashi.com/%0d&hashtags=メンチキッター,ガン飛ばし"
         target="_blank"
         rel="noopener noreferrer">
        Twitter
      </a>
    <% end %>
  </div>

  <div class="btn-3 mt-4">
    <%= link_to "撮り直す", mode_check_path, class:"button-40 link" %>
  </div>
</div>
